name: Deploy kloun.lol
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: oNaiPs/secrets-to-env-action@v1
        with:
          secrets: ${{ toJSON(secrets) }}

      - name: Build
        run: |
          npm install
          npm run build
          mv .next out
          cp package.json out
          cd out
      - name: Deploy
          run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "Rudix"
          git checkout --orphan build
          git add --all
          git add -A .next -f
          git commit  --allow-empty -n -m  "Add build directory"

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: build
          force: true
